@media (min-width: 992px) {
    .rounded-circle {
        width: 200px;
        height: 200px;
        z-index: 2;
    }

    .box {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        width: 205px;
        height: 205px;
    }

    .box::before {
        content: '';
        position: absolute;
        top: -10%;
        left: -10%;
        width: 135%;
        height: 150%;
        background: linear-gradient(#ff0000, #ffffff);
        animation: animate 4s linear infinite;
        z-index: 1;
    }

    .box::after {
        content: '';
        position: absolute;
        inset: 5px;
        background: #FAFAEB;
        z-index: 0;

    }

    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /* ---------------------------------------------------------------------------------- */

    #InleidingSect {
        display: flex;
        flex-direction: row;
        color: #56514B;
        padding: 8%;
    }

    #InleidingDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
        width: 40%;
    }

    #SkillIconsDiv {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }

    .SkillIcons {
        width: 100%;
        height: auto;
    }

    .SkillIcons:hover {
        transform: scale(1.5);
        transition: 0.5s;
    }

    /* ---------------------------------------------------------------------------------- */

    #AboutMeSect {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8%;
    }

    #OverMijDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #AboutMeDiv {
        display: flex;
        justify-content: center;
        position: relative;
        width: 50%;
    }

    #AboutMeText {
        width: 52%;
        padding-right: 10%;
    }

    #ComputerImg {
        width: 50%;
        border-radius: 10%;
        position: relative;
    }

    #BitAcademyLogo {
        position: absolute;
        width: 20%;
        height: auto;
        right: 15%;
        bottom: -20%;
    }

    /* ---------------------------------------------------------------------------------- */

    #ProjectenContainer {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    

    .Projecten {
        width: 30%;
    }

    .Projecten > img {
        border-radius: 2%;
        margin-bottom: 15px;
        width: 100%;
    }
}