@media (max-width: 992px) {

    #InleidingSect {
        padding: 10%;
    }

    
    #InleidingDiv {
        text-align: center;
    }

    #InleidingDiv h1 {
        margin-top: 20px;
    }

    #SkillIconsDiv {
        margin-bottom: 4%;
    }
    
    #section1 {
        display: flex;
        flex-direction: column;
        height: 100vh;
        color: #56514B;
    }
    
    .rounded-circle {
        width: 150px;
        height: 150px;
        z-index: 2;
    }
    
    .HobbyFoto {
        width: 80%;
        height: 70%;
        border-radius: 5px;
    }

    #AboutMeDiv {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    #AboutMeText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10%;
    }
    
    #ComputerImg {
        width: 50%;
        border-radius: 10%;
    }
    
    #BitAcademyLogo {
        position: absolute;
        width: 20%;
        height: auto;
        bottom: -10%;
        right: 15%;
    }

    .text-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 5%;
        border-radius: 10px;
        position: relative;
        margin-bottom: 20px;
        text-align: center;
    }

    .timeline-img-even {
        position: absolute;
        width: 50px;
        top: 0;
        right: 0;
        border-radius: 50%;
    }

    .timeline-img-odd {
        position: absolute;
        width: 50px;
        top: -2%;
        left: -2%;
        border-radius: 50%;
        z-index: 1;
    }

    #turkije {
        top: 0;
        left: 0;
    }

    #timeline {
        flex-direction: column;
    }

    .tl-item {
        width: 100%;
        height: auto;
        min-height: auto; /* Adjust to your preference for smaller screens */
    }

    #timeline > h1 {
        left: 50%;
        transform: translateX(-50%); /* Center the title on small screens */
        text-align: center; /* Ensure the title is centered text-wise */
    }

    .tl-content,
    .tl-year {
        transform: none;
        position: relative; /* Adjust the position for small screens */
        top: auto;
        left: auto;
    }

    .tl-bg {
        position: relative; /* This might need to change depending on your layout */
        height: auto; /* Adjust the height for small screens */
    }

    .tl-content h1,
    .tl-year p {
        font-size: smaller; /* Adjust the font size for small screens */
    }
}