* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 992px) {
    nav {
        background-color: bisque;
    }
    
    #container {
        margin: 0;
        padding: 0;
    }
    
    .SkillIcons {
        max-width: 60%;
        height: auto;
    }
    
    
    #infodiv {
        text-align: center;
    }
    
    #section1 {
        display: flex;
        flex-direction: column;
        height: 100vh;
        color: #56514B;
    }
    
    .rounded-circle {
        width: 200px;
        height: 200px;
        z-index: 2;
    }
    
    .HobbyFoto {
        width: 80%;
        height: 70%;
        border-radius: 5px;
    }

    #AboutMeImages {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    
    #ComputerImg {
        width: 50%;
        border-radius: 10%;
    }
    
    #BitAcademyLogo {
        position: absolute;
        width: 20%;
        height: auto;
    
    }
}