* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #6ea06e ;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 8%;
    bottom: 1rem;
    font-size: 1.6rem;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: bisque;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.rounded-circle{
    width: 200px;
    height: 200px;
}

#id {
    background-image: url(pp.jpg);
}

@media (min-width: 992px) {
    #section1 {
        height: 100vh;
        color: #56514B;
        background-color: #FAFAEB;
        overflow: auto;
    }

    .skillcss {
        width: 40px;
    }

    #infodiv {
        width: 600px;
    }

    .skills {
        width: 60px;
        height: 60px;
    }
}