@media (min-width: 992px) {
    /* pp */

    .rounded-circle {
        width: 200px;
        height: 200px;
        z-index: 2;
    }

    .box {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        width: 205px;
        height: 205px;
    }

    .box::before {
        content: '';
        position: absolute;
        top: -10%;
        left: -10%;
        width: 135%;
        height: 150%;
        background: linear-gradient(#ff0000, #ffffff);
        animation: animate 4s linear infinite;
        z-index: 1;
    }

    .box::after {
        content: '';
        position: absolute;
        inset: 5px;
        background: #FAFAEB;
        z-index: 0;

    }

    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /* rest */

    #IntroSect {
        display: flex;
        flex-direction: row;
        color: #56514B;
        padding: 10%;
    }

    #infodiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
        width: 35%;
    }

    #SkillIconsDiv {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }

    .SkillIcons {
        width: 100%;
        height: auto;
    }

    .SkillIcons:hover {
        transform: scale(1.5);
        transition: 0.5s;
    }

    #HobbieSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #HobbyIcons {
        display: flex;
        width: 80%;
        justify-content: space-around;
    }

    #HobbyCarts {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #HobbyCarts {
        position: relative;
    }

    .HobbyDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        z-index: 2;
        padding: 10px;
    }

    #AboutMeSect {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10%;
    }

    #OverMijDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #AboutMeImages {
        display: flex;
        justify-content: center;
        position: relative;
        width: 50%;
        overflow: hidden;
    }

    #AboutMeText {
        width: 50%;
        padding-right: 10%;
    }

    #ComputerImg {
        width: 50%;
        border-radius: 10%;
    }

    #BitAcademyLogo {
        position: absolute;
        width: 20%;
        height: auto;
        right: 140px;
        bottom: -20px;
    }
}